/* COLORS */
$primary1: #F4CE14;
$primary2: #495E57;
$secondary1: #EE9972;
$secondary2: #FBDABB;
$highlight3: #EDEFEE;
$highlight4: #333333;

$backgroundColor: $highlight3;
$textColor: $highlight4;

$breakpoint: 768px;
