@use "styles/reset.min";
@use "styles/variables" as cssVars;

* {
  font-family: "Markazi Text", "Karla", serif;
}

body {
  color: cssVars.$textColor;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  h1 {
    font-family: "Markazi Text";
    font-weight: 500;
    font-size: 3rem;
  }
}

button {
  background-color: cssVars.$primary1;
  padding: .4rem 1rem;
  border: none;
  outline: none;
  border-radius: .7rem;
  font-family: 'Karla';
  color: cssVars.$highlight4;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
